.timeline{
    display: flex;
    justify-content: center;
    overflow: hidden;
    margin-bottom: 1rem;
}

.timeline .post{
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.timeline .activity{
  
}