.file-upload input{
    display: none;
}

.upload-icon{
    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 5px;
    background-color: rgba(128, 128, 128, 0.144);
    margin: 2px;
}
.upload-icon:hover{
    color:black;
}


