:root {
  --gradiant-light: rgb(186, 248, 61);
  --gradiant-dark: #00CB54;
}


body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.ui.basic.button.textarea-btn {
  box-shadow: none !important;
  margin: 0 !important;
}

.emoji-picker-react {
  position: absolute !important;
  z-index: 100 !important;
  box-shadow: 1px 1px 5px 1px rgba(211, 210, 210, 0.801) !important;
}