.post-card{
    margin-top: 1rem;
    border: 1px solid rgba(78, 78, 78, 0.301); 
    box-shadow: .1px .1px .1px .1px   rgba(78, 78, 78, 0.301);
    border-radius: 3px;
    display: flex;
    flex-direction: column;
}

.post-card-user {
    display: flex;
    align-items: center;
    padding: 5px;
}

.post-card-user .post-user-pic{
    margin-left: .8rem;
    height: 3rem;
    width:3rem;
    background: linear-gradient(yellowgreen, #00CB54);
    display: flex;
    justify-content: center;
    align-items: center; 
    border-radius: 50%;
}

.post-user-pic img{
    background-color: white;
    padding: 2px;
    height: 2.7rem;
    width: 2.7rem;
    border-radius: 50%;
    object-fit: cover;
}

.post-card-user .post-user-name{
    margin-left: 5px;
    font-weight: bold;
}


.post-card-user .edit-control{
    margin-left: auto;
    color:gray ;
}

.post-card-user .edit-control:hover{
    cursor: pointer;
    color: black;
}


.post-content{
    padding: 1rem;
    display: flex;
    flex-direction: column;
}

.post-image{
    display: flex;
    justify-content: center;
    align-items: center;
}


.post-image .image-index{
    position: absolute;
    top: 4rem;
    right: 5px;
    background-color: black;
    border-radius: 3px;
    color: white;
}

.post-image .rotate-image-left{
    position: absolute;
    left: 0;
}

.post-image .rotate-image-right{
    position: absolute;
    right: 0;
}


.post-image .rotate-image-left,.post-image .rotate-image-right:hover{
    cursor: pointer;
}

.post-content .header{
    font-weight: bold;
}

.post-feature{
    border-top: 1px solid rgba(128, 128, 128, 0.192);
    padding-left: 1.5rem;
    padding-top: 5px;
    margin-bottom: 5px;
    display: flex;
    justify-content: flex-start;
}

.post-feature .count-star{
    display: flex  ;
    align-items: center;
}

.count-star label{
    font-size: 17px;
    font-weight: bolder;
    color:gray;
    padding-right: 3px;
}
.count-star .mystar{
    font-size: 14px;
}
.count-star .star.outline.icon{
    font-size: 19px;
    color:gray;
}

.count-star .stared i{
    color: var(--gradiant-dark) !important;
}

.count-star .star.outline.icon:hover{
    cursor: pointer;
    color: var(--gradiant-dark);
}

.extra-content{
    padding-left: 1.5rem;
    margin-left: auto;
    margin-bottom: 1rem;
    color: rgba(128, 128, 128, 0.726);
    padding-right: 10px;
}


.post-card-user .post-user-pic:hover,.post-card-user .post-user-name label:hover{
    cursor: pointer;

 }
