.confirm-page{
    width: 100vw;
    height: 100vh;
    background: linear-gradient(to right,var(--gradiant-light),var(--gradiant-dark));
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.confirm-page .confirm-content{
    background-color: white;
    padding: 1.5rem 3rem 1.5rem 3rem;
    border-radius: 5px;
}

.confirm-content div{
    margin-top:5px ;
    margin-bottom: 5px;
}